# Help Documentation
HELP.md
Endpoints.txt

#Directories
log/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Maven Build Directories
**/target/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# Visual Studio Code
.vscode/
